
<ul class="topnav">
  <li><a class="active" href="#inicio">Inicio</a></li>
  <li><a href="#parcelas">Parcelas</a></li>
  <li><a href="#quienes-somos">quienes-somos</a></li>
  <li><a href="#contacto">contacto</a></li>
  <li class="right"><a href="#about">eliminar</a></li>
</ul>


<section id="inicio">
  <app-slider></app-slider>
</section>

<section id="parcelas">
  <div class="prueba1">
    <h1>hola</h1>
  </div>
</section>

<section id="quienes-somos">
  <!-- Contenido de la sección Quiénes Somos -->
  b
</section>

<section id="contacto">
  <!-- Contenido de la sección de Contacto -->
  c
</section>



<router-outlet></router-outlet>