body {
  margin: 0;
  font-family: Arial, sans-serif;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Mantendrá el navbar fijo */
  width: 100%; /* Opcional: para ocupar el 100% del ancho */
  top: 0; /* Para colocarlo en la parte superior */
  z-index: 1000;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav {position: static;}
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}



.prueba1{
  height: 100vh;  
  background-color: red;
}

section #parcelas {
  background-color: chocolate;
  height: 100vh;

}

section #quienes-somos {
  background-color: green;
  height: 100vh;

}

section #contacto {
  background-color: yellow;
  height: 100vh;
}